<h3>{{position.title}}</h3>
{{#if position.institution}}
<abr title="At">{{fa-icon "at fa-fw"}}</abr> {{position.institution}}
{{/if}}
{{#if position.location}}
<div><abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> {{position.location}}</div>
{{/if}}
{{#if position.dates}}
<div><abr title="Dates">{{fa-icon "calendar fa-fw"}}</abr> {{position.dates}}</div>
{{/if}}
{{#if position.details}}
  <div class="details">
    <br>
    {{#each position.details as |item|}}
      {{v-content content=item}}
    {{/each}}
  </div>
{{/if}}
