<div>
  <div class="me">
    <img src="/imgs/me.png" />
    <h1>Tony</h1>
    <div class="contact row spacer">
      <div class="col-xs-12 col-sm-3">
        <abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> NYC
      </div>
      <div class="col-xs-12 col-sm-3">
        <abr title="Email">{{fa-icon "envelope fa-fw"}}</abr> <a href="mailto:tony+knewton@varblob.com?Subject=KnewtonJobApp">tony+knewton@varblob.com</a><span>tony+knewton@varblob.com</span>
      </div>
      <div class="col-xs-12 col-sm-3">
        <abr title="Phone">{{fa-icon "phone fa-fw"}}</abr> <a href="tel:3476888533">(347) 688-8533</a><span>(347) 688-8533</span>
      </div>
      <div class="col-xs-12 col-sm-3">
        <a href="javascript:window.print()">{{fa-icon "print f-fw"}} Print this page</a>
      </div>
    </div>
  </div>
  <div class="cover-letter">
    {{#each cover.sections as |section|}}
      {{var-section section=section}}
    {{/each}}
  </div>
  <div class="spacer big">
  </div>
  <div class="resume">
    {{#each resume.sections as |section|}}
      {{var-section section=section}}
    {{/each}}
  </div>
  <div class="spacer big">
  </div>
  <section class="liked">
    <h2>{{fa-icon "thumbs-o-up fw"}} Some Random Things I Like</h2>
    <div class="posts">
      {{!-- {{#each posts as |postId|}}
        {{g-post postId=postId}}
      {{/each}} --}}
    </div>
  </section>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
