<div>
  <div class="me">
    <img src="/imgs/me.png" />
    <h1>Tony</h1>
    <div class="contact row spacer">
      <div class="col-xs-12 col-sm-4">
        <abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> NYC
      </div>
      <div class="col-xs-12 col-sm-4">
        <abr title="Email">{{fa-icon "envelope fa-fw"}}</abr> <a href="mailto:tony+knewton@varblob.com?Subject=KnewtonJobApp">tony+knewton@varblob.com</a><span>tony+knewton@varblob.com</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <abr title="Phone">{{fa-icon "phone fa-fw"}}</abr> <a href="tel:3476888533">(347) 688-8533</a><span>(347) 688-8533</span>
      </div>
    </div>
  </div>
  <div class="cover-letter">
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h2> {{fa-icon "question fa-fw"}} Why Knewton</h2>
        </div>
        <div class="col-sm-12 col-md-9 content">
          {{#collapse-card isCollapsed=true
            title="Digital education is the future of education"}}
            With estimates of the world population growing by another two billion in Asia and Africa by 2050, there is simply not enough educational infrastructure to provide education to everyone. We need the scalability of digital educational systems. Even without population growth, only  about 40% of the world population has access to internet. As this moves towards 100%, there will be an inevitable increase in demand for digital educational resources.
          {{/collapse-card}}
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h2>{{fa-icon "check fa-fw"}} Requirements</h2>
        </div>
        <div class="col-sm-12 col-md-9 content">
          {{#collapse-card isCollapsed=true
            title="I've designed and built many complex products"}}
            <ul>
              <li>
                Human Resource Information System
              </li>
              <li>
                Applicant Tracking System
              </li>
              <li>
                Performance review design and delivery system
              </li>
              <li>
                Widget based custom reporting system for HR data with Boolean search operators for sub selecting people
              </li>
              <li>
                Web based psychometric assessment and custom survey application processing tens of thousands of candidates
              </li>
              <li>
                Applicant assessment application for Windows Phone
              </li>
              <li>
                Spatial aptitude game
              </li>
              <li>
                Finance Quiz game for IPhone
              </li>
              <li>
                Real Time Trading game designed to select high potential traders
              </li>
              <li>
                Lead generation and auto follow up mailing system for sales
              </li>
              <li>
                Several social games
              </li>
              <li>
                Numerous Ad and Casual Games
              </li>
            </ul>
          {{/collapse-card}}
          {{#collapse-card isCollapsed=true
            title="I've worked in agile environments"}}
            <ul>
              <li>Pragmatic test driven development for both the client and server</li>
              <li>Weekly builds</li>
              <li>Daily standup meetings</li>
              <li>Iterative design</li>
            </ul>
          {{/collapse-card}}
          {{#collapse-card isCollapsed=true
            title="I’m experienced with analytics driven decision making"}}
            I did a fair amount of stats work at ConnectCubed when designing and analyzing performance and hiring statistics for our clients. At HitPoint studios, I built and was in charge of a tracking system for our games. As a project manager and game designer, I would use these tools to optimize micro transactions or client specified desired user interactions for ad games.
          {{/collapse-card}}
          {{#collapse-card isCollapsed=true
            title="I'm entrepreneurial"}}
            I co-founded a company and ran it for 4 years. I was also one of the first hires at HitPoint Studios.  I've pulled an all nighter after a 24 hour flight from Hong Kong and a 6 hour bus ride from the airport to the office because we needed to get things done.
          {{/collapse-card}}
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h2>{{fa-icon "adjust fa-fw"}} Being Different</h2>
        </div>
        <div class="col-sm-12 col-md-9 content">
          {{#collapse-card isCollapsed=true
            title="I've played many roles"}}
            <ul>
              <li>project manager</li>
              <li>ui designer</li>
              <li>server coder</li>
              <li>server infrastructure guy</li>
              <li>client side coder</li>
              <li>graphic designer</li>
              <li>sales funnel optimizer</li>
              <li>marketing message optimizer</li>
              <li>data scientist</li>
              <li>psychometrician</li>
              <li>game designer</li>
            </ul>
            Having experience in all these different roles gives me a wide net of tools to pull from for product development ideas. It also gives me the ability to relate to and understand a diverse array of team members and the problems they will need to solve.
          {{/collapse-card}}
          {{#collapse-card isCollapsed=true
            title="I have deep insight into hiring and performance assessment practices"}}
          ConnectCubed, the startup I co-founded, was focused on human resources, specifically performance, hiring, and analytics. The reality is pretty bleak; the current tools for predicting employee success (personality, aptitude, interviews, grades, skills, etc.) are simply not that good at predicting. They all suffer from the common problem of snapshotting through a keyhole. Each assessment captures only a very narrow moment in time, through a very narrow window of data. The future of job placement and advancement is likely to be educational systems that gather rich longitudinal data.
          {{/collapse-card}}
          {{#collapse-card isCollapsed=true
            title="I understand the power of game mechanics and want to use it for good"}}
          I left my job at HitPoint Studios because I saw the power of game mechanics and didn't want to apply it to ad games. I wanted to utilize the power of games and game mechanics to contribute to society. I still believe this is possible, and I think that knowledge of game mechanics, even if expressed subtly, is extremely helpful for any product, but especially in education.
          {{/collapse-card}}
        </div>
      </div>
    </section>
  </div>

  <div class="spacer cv">

  </div>

  <div class="resume">
    <section class="experience container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h2>{{fa-icon "briefcase fa-fw"}} Experience</h2>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="position">
            <h3>Co-Founder and CTO</h3> <abr title="Working At">{{fa-icon "at fa-fw"}}</abr>  ConnectCubed - Human Resource information storage and collection systems designed with analytics at its core
            <div><abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> New York City and Hong Kong</div>
            <div><abr title="Dates">{{fa-icon "calendar fa-fw"}}</abr> 2011-2015</div>
            <br>
            <ul class="details list-unstyled">
              <li>
                {{#collapse-card isCollapsed=true
                  title="Technical Leadership"}}
                  <ul>
                    <li>
                      Lead the company through a major technical shift from {{#bs-label}}Rails{{/bs-label}} views with {{#bs-label}}YUI{{/bs-label}} to a {{#bs-label}}Rails API{{/bs-label}} with an {{#bs-label}}Ember.js{{/bs-label}} single page application
                    </li>
                    <li>
                      I managed technical debt and minimized the impact of 3 major product pivots over the course of 4 years
                    </li>
                    <li>
                      I put together and ran a small production team to develop various applications
                    </li>
                    <li>
                      Instituted iterative development practices, weekly builds, with daily standup meetings
                    </li>
                    <li>
                      Enforced pragmatic test driven development on both server and client
                    </li>
                  </ul>
                {{/collapse-card}}
              </li>
              <li>
                {{#collapse-card isCollapsed=true
                  title="Product Design and Code"}}
                  <p>
                    Over the course of ConnectCubed's history, designed and developed numerous applications on both server and client side including:
                  </p>
                  <ul>
                    <li>
                      Human Resource Information System
                    </li>
                    <li>
                      Applicant Tracking System
                    </li>
                    <li>
                      Performance review design and delivery system
                    </li>
                    <li>
                      Widget based custom reporting system for HR data with Boolean search operators for sub selecting people
                    </li>
                    <li>
                      Web based psychometric assessment and custom survey application processing tens of thousands of candidates
                    </li>
                    <li>
                      Applicant assessment application for Windows Phone
                    </li>
                    <li>
                      Spatial aptitude game
                    </li>
                    <li>
                      Finance Quiz game for IPhone
                    </li>
                    <li>
                      Real Time Trading game designed to pick good traders
                    </li>
                    <li>
                      Lead generation and auto follow up mailing system for sales
                    </li>
                  </ul>
                  <div class="label-list">
                    {{#bs-label}}Rails{{/bs-label}} {{#bs-label}}Ember.js{{/bs-label}} {{#bs-label}}Heroku{{/bs-label}} {{#bs-label}}Postgres{{/bs-label}} {{#bs-label}}Action Script 3{{/bs-label}} {{#bs-label}}C#{{/bs-label}}  {{#bs-label}}YUI{{/bs-label}} {{#bs-label}}IPhone{{/bs-label}} {{#bs-label}}Windows Phone{{/bs-label}}
                  </div>
                {{/collapse-card}}
              </li>
              <li>
                {{#collapse-card isCollapsed=true
                   title="Data Science"}}
                  <ul>
                    <li>
                      Performed custom data analysis on the hiring process for various clients
                    </li>
                    <li>
                      Developed people similarity graphs using bootstrapped cluster analysis
                    </li>
                    <li>
                      Built experimental Topological Data Analysis implementation to try and create a better person similarity graph
                    </li>
                  </ul>
                  <div class="label-list">
                    {{#bs-label}}Python{{/bs-label}} {{#bs-label}}R{{/bs-label}} {{#bs-label}}Scipy{{/bs-label}} {{#bs-label}}Regression{{/bs-label}} {{#bs-label}}Cluster Analysis{{/bs-label}}
                  </div>
                {{/collapse-card}}
              </li>
              <li>
                {{#collapse-card isCollapsed=true
                  title="Sales"}}
                  <ul>
                    <li>
                      Designed an analytics driven sales funnel and augmented it heavily with automation
                    </li>
                    <li>
                      Worked extensively with sales messaging and language
                    </li>
                  </ul>
                {{/collapse-card}}
              </li>
            </ul>
          </div>

          <div class="position">
            <h3>Coding, Project Management, Game Design</h3> <abr title="Working At">{{fa-icon "at fa-fw"}}</abr> HitPoint Studios - Independent game studio
            <div><abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> Massachusetts</div>
            <div><abr title="Dates">{{fa-icon "calendar fa-fw"}}</abr> 2009-2011</div>
            <br>
            <ul class="details list-unstyled">
              <li>
                {{#collapse-card isCollapsed=true
                  title="Design"}}
                  <ul>
                    <li>
                      Designer on several original social games
                    </li>
                  </ul>
                {{/collapse-card}}
              </li>
              <li>
                {{#collapse-card isCollapsed=true
                  title="Code"}}
                  <ul>
                    <li>
                      Started as an intern to do facebook integration and became the lead server developer
                    </li>
                    <li>
                      Created numerous casual, social, and ad game servers handling hundreds of thousands of users
                    </li>
                    <li>
                      Worked as a user interface developer for a few social and Ad games
                    </li>
                    <li>
                      Designed, built, and was in charge of in game analytics
                    </li>
                  </ul>
                  <div class="label-list">
                    {{#bs-label}}Action Script 3{{/bs-label}} {{#bs-label}}Flash{{/bs-label}} {{#bs-label}}Java{{/bs-label}} {{#bs-label}}C#{{/bs-label}} {{#bs-label}}SQL Server{{/bs-label}} {{#bs-label}}MySQL{{/bs-label}}
                  </div>
                {{/collapse-card}}
              </li>
              <li>
                {{#collapse-card isCollapsed=true
                  title="Project Management"}}
                  <ul>
                    <li>
                      Was project manager for several independent social games overseeing a small team of programmers and artists
                    </li>
                  </ul>
                {{/collapse-card}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="education container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h2>{{fa-icon "book fa-fw"}} Education</h2>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="position">
            <h3>B.A. in Chinese History, Economics, Art, and a touch of Computer Science</h3>
            <abr title="Educated At">{{fa-icon "at fa-fw"}}</abr> Hampshire College - Tailor-made undergraduate program with qualitative assessment

            <div><abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> Massachusetts</div>
            <div><abr title="Dates">{{fa-icon "calendar fa-fw"}}</abr> 2004-2008</div>
          </div>
          <div class="position">
            <h3>High School</h3>
            <abr title="Educated At">{{fa-icon "at fa-fw"}}</abr> Chinese International School
            <div><abr title="Location">{{fa-icon "map-marker fa-fw"}}</abr> Hong Kong</div>
            <div><abr title="Dates">{{fa-icon "calendar fa-fw"}}</abr> 1997-2004</div>
          </div>
        </div>
      </div>
    </section>
    <div class="spacer cv">
    </div>
    <section class="liked">
      <h2>{{fa-icon "thumbs-o-up fw"}} Some Random Things I Like</h2>
      <div class="posts">
        {{!-- {{#each posts as |postId|}}
          {{g-post postId=postId}}
        {{/each}} --}}
      </div>
    </section>
  </div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
